.mud-input {
    font-size: 0.9rem !important;
}
.pet-horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pet-vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pet-grid-container {
    display: grid !important;
}

.pet-white {
    color: white !important;
}

:root {
    --mud-drawer-width-left: 180px !important;
}