@using Markdig.Syntax.Inlines

<div style="text-align: justify">
    <MudMarkdown Value="@Value"
                 TableCellMinWidth="100"
                 OverrideLinkUrl="OverrideLink"
                 CodeBlockTheme="CodeBlockTheme.DraculaBase16" />
</div>